li{
  color: YELLOW;
} 

#first{
background: pink
  width: 50%;
  color: white;
}

body{
  background-image: url("https://github.com/Dia1221/Dia1221.github.io/blob/master/Fashion-Inspo.jpeg?raw=true")
}
img{
  height:300px;
}
